* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

.app {
  background: linear-gradient(45deg, #232222, #000);
  min-height: 100vh;
  padding: 30px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media all and (max-width: 767px) {
  .app {
    padding: 15px;
  }
}
